.auto {
    padding-top: 100px;
}

.main-auto {
    display: flex;
    justify-content: start;
    font-size: 32px;
    color:dodgerblue;
    margin-bottom: 30px;
}

.main-title {
    margin-bottom: 30px;
}