.icream-info {
    padding-top: 100px;
}

.cream-title {
    display: flex;
    justify-content: start;
    color: dodgerblue;
    font-weight: 500;
    margin-bottom: 30px;
}

.cream-text {
    margin-bottom: 30px;
}

.table-cream {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-size: 14px;
}