.main-content {
    padding-top: 100px;
}

.main-text {
    display: flex;
    justify-content: start;

    font-size: 32px;
    color:dodgerblue;
    margin-bottom: 30px;
}

.main-text-title {
    margin-bottom: 30px;
}

.main-ul {
    margin-bottom: 30px;
}

.main-link {
    list-style: none;
}

.table {
    margin:50px 80px 0px 0px;
}