@import '_uslugi';
@import '_items';
@import '_icream';
@import '_help-dead';
@import '_pohoroni';
@import '_kids';
@import '_auto';



body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;

    
}

*, :after, :before {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 80px;
    background: #444;
    position: fixed;
    z-index: 3333;
    
    

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container_main {
    max-width: 1200px;
    margin: 0 auto;
}

.intro-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 80px;

}

.logo {
    display: flex;
    align-items: center;
}

.name-com {
    font-size: 16px;
    margin-left: 10px;
    font-weight: 800;
    color:white;
    text-decoration: none;
}

.nav {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.info {
    font-size: 16px;
}

.nav-links {
    font-size: 16px;
    margin-left: 35px;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    color:black;
    &:hover  {
        padding: 8px 10px;
        background: rgb(8, 8, 8);
        border-radius: 5px;
        transition: .3s linear;
        color:white;
        
        
        
    }
}



.about {
    width: 100%;
    min-height: 554px;
    position: relative;
}

.about__intro:before {

        content: "";
        background: url(../img/2.jpg) 0 0 no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 554px;
        opacity: 0.5;
        position: absolute;
        z-index: -1;
    
}

.about_overlay {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 110px;
}


.info_block {
    padding: 20px 20px 20px 20px;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(77, 74, 74, 0.5);
    border-radius: 20px;
    text-align: center;
    height: 320px;
}

.info-name {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color:rgb(39, 34, 41);
    margin-bottom: 10px;
}

.info-adress {
    margin-top: 15px;
    
}
.text-email {
    display: block;
    background: #444;
    padding: 12px 12px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    color:white;
    margin-top: 50px;
    &:hover {
        background: black;
        transition: .3s linear;
    }
}

.email-adress {
    margin-top: 20px;
}


.block-1 {
    padding: 20px 0;
}

.block1-title {
    font-size: 28px;
    color:dodgerblue;
    text-align: center;
}

.scroll-up {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
    background: red;
    border-radius: 50px;
    cursor: pointer;
   // visibility: hidden;
    box-shadow:  inset 0 0 0 4px red;
    // opacity: 0;
    transition: .2s;
    transform: translateY(25px);
}

.scroll-up:before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    font-size: 20px;
    content: '!';

}

.scroll-up:hover {
     color:orange;
}

.scroll-up:active {
     visibility:visible;
     opacity: 1;
     transform: 0;
}


.nav-bar {
	position: absolute;
	background-color: #444;;
	top: 0;
	right: 100%;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: position 2.9s;
	-webkit-transition: position 2.9s;
	-moz-transition: position 2.9s;
	-ms-transition: position 2.9s;
	-o-transition: position 2.9s;
}

.toggle {
	left: 0;
	box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
  z-index: 99999;
}

.toggle-menu {
	
	position: fixed;
	top: 23px;
	right: 20px;
	width: 40px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    padding: 2px 2px 2px 3px;
	border-radius: 5px;
	cursor: pointer;
  
}


@media (min-width:620px){
  .toggle-menu {
    display: none;
  }
}

@media (max-width:620px){
    .nav {
        display: none;
    }
}

@media (max-width:620px){
    .name-com {
        display: none;
    }
}





.line {
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: #fff;
	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
	-moz-transition: transform 0.2s ease-out;
	-ms-transition: transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
	background-color: #fff;
	transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
	display: none;
}

.toggle .line3 {
	background-color: #fff;
	transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}


.nav-list {
	list-style: none;
  
}

.nav-list-item {
	text-align: center;
	padding: 20px 0;
  font-size:14px;
}

.nav-link {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	position: relative;
	padding-bottom: 4px;
} 




